<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gedicht</title>
    <link rel="stylesheet" href="https://www.zedler.it/static/font/stylesheet.css">
    <link rel="stylesheet" href="https://www.zedler.it/static/css/main.css?version=6">
</head>
<body class="" itemscope="" itemtype="https://schema.org/WebPage">





    <main class="container main page page--home">

	    {% block main %}{% endblock %}

    </main>


</body>
</html>
