{% extends 'base.html' %}

{% block main %}
        <div class="text">
            <p>
                Wenn ich mal bei die bliebe,
                <br>
                Dann wär' ich voller Kartoffelsalat.
            </p>
            <p>
                Ich gäb' dir mit Genuss
                <br>
                So manchen dicken Kartoffelsalat.
            </p>
            <p>
                Und kraulte unnachahmbar
                <br>
                Gefühlvoll dir dein Kartoffelsalat.
            </p>
            <p>
                Doch heute bleib' ich hart,
                <br>
                Denk' nur an Kartoffelsalat.
            </p>
</div>
{% endblock main %}

